// Hero teaser

.teaser-hero {
	@extend .text-center;

	position: relative;
	overflow: hidden;
	box-shadow: 0 0.2rem 0.5rem 0 rgba($colorBlack, 0.2);
	background-color: $colorLight;
}

// Hero teaser image
.teaser-hero_img {
	display: inline-block;
	max-width: 130%;
	max-height: 100%;
}

// Hero teaser text
.teaser-hero_text {
	color: $colorBlack;
	padding-top: 4rem;

	@include media($screenMedium) {
		position: absolute;
		left: 300px;
	}
}

// Product hero teaser
.teaser-hero-product {
	@extend .text-left;

	.teaser-hero_img {
		max-height: 400px;

		@include media($screenMedium) {
			max-height: 600px;
		}
	}
}