// Color patterns

// Font colors
.color-white { color: $colorWhite !important; }
.color-light { color: $colorLight !important; }
.color-black { color: $colorBlack !important; }
.color-primary { color: $colorPrimary !important; }

// Background colors
.bg-color-white { background-color: $colorWhite !important; }
.bg-color-light { background-color: $colorLight !important; }
.bg-color-black { background-color: $colorBlack !important; }
.bg-color-primary { background-color: $colorPrimary !important; }