// Grid pattern

.grid {
	@include media($screenMedium) {
		@extend .clearfix;
	}
}

// 3 column grid (on large screens)
.grid-3 {
	.grid_col {
		@include media($screenMedium) {
			width: 50%;
		}

		@include media($screenLarge) {
			width: 33.3333%;
		}
	}
}

// Grid column
.grid_col {
	@include media($screenMedium) {
		display: inline;
		float: left;
	}
}

