// Link patterns

// Primary link
.link-primary {
	color: $colorWhite;
	text-decoration: none;
}

// Teaser link
.link-teaser {
	display: inline-block;
	font-family: $fontPrimary;
	font-size: 1.4rem;
	border-bottom: 1px dotted;
}

// Claim link
.link-claim {
	display: inline-block;
	font-family: $fontPrimary;
	font-size: 1.3rem;
	color: $colorPrimary;

	@include media($screenMedium) {
		font-size: 1.6rem;
	}
}

// Back link
.link-back {
	@extend .link-teaser;

	position: absolute;
	z-index: 50;
	top: 1rem;
	right: 0;
	color: $colorPrimary;
}