// Text patterns

// Centered text
.text-center {
	text-align: center;
}

// Left aligned text
.text-left {
	text-align: left;
}

// Right aligned text
.text-right {
	text-align: right;
}

// Uppercase text
.text-upper {
	text-transform: uppercase;
}