// Inner site wrap

.site_inner {
	position: relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gridGutter * 0.75;
	padding-right: $gridGutter * 0.75;

	@include media($screenMedium) {
		padding-left: $gridGutter;
		padding-right: $gridGutter;
	}

	@include media($screenLarge) {
		padding-left: $gridGutter * 1.5;
		padding-right: $gridGutter * 1.5;
	}
}